<div class="registration_form" [formGroup]="Classes">
    <div class="form_head">
        <h3>Add Classes</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>

    <div class="form_area">

        <div class="form-floating mb-2">
            <input type="number" class="form-control" id="day" placeholder="Enter Class" formControlName="class">
            <label for="day">Classes </label>
        </div>
    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" mat-dialog-close>Cancel</button>
        <button type="button" class="btn btn-primary" id="submit"
            (click)="edit_data? updateForm(): submitForm()">{{edit_data?'Update':'Submit'}}</button>
    </div>
</div>