<div class="registration_form" [formGroup]="SectionForm">
    <div class="form_head">
        <h3>Add Grade</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>

    <div class="form_area">

        <div class="form-floating mb-2">
            <select class="form-select" id="gender" formControlName="week_id" (change)="onGetDay($event)">
                <option *ngFor="let item of weeks" [value]="item.id"> {{item.week_num}}</option>
            </select>
            <label for="gender">Weeks</label>
        </div>

        <div class="form-floating mb-2">
            <select class="form-select" id="gender" formControlName="day_id" (change)="onGetGrades($event)">
                <option *ngFor="let item of FilterDays" [value]="item.id"> {{item.day}}</option>
            </select>
            <label for="gender">Day`s</label>
        </div>

        <div class="form-floating mb-2">
            <select class="form-select" id="Grade" formControlName="grade_id">
                <option *ngFor="let item of Grades" [value]="item.id"> {{item.grade}}</option>
            </select>
            <label for="Grade">Grade</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="sections" placeholder="Enter sections"
                formControlName="sections">
            <label for="sections"> Sections</label>
        </div>
    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" mat-dialog-close>Cancel</button>
        <button type="button" class="btn btn-primary" id="submit"
            (click)="edit_data? updateForm(): submitForm()">{{edit_data?'Update':'Submit'}}</button>
    </div>
</div>