<div class="registration_form" [formGroup]="TopicsForm">
    <div class="form_head">
        <h3>Add Topics</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>

    <div class="form_area">


        <div class="form-floating mb-2">
            <select class="form-select" id="gender" formControlName="class_id_fk" (change)="onGetUnit($event)">
                <option *ngFor="let cls of classe" [value]="cls.id">{{cls.class}}</option>

            </select>
            <label for="gender">Classes</label>
        </div>

        <div class="form-floating mb-2">
            <select class="form-select" id="gender" formControlName="unit_id_fk" >
                <option *ngFor="let unit of units" [value]="unit.id">{{unit.unit}}</option>

            </select>
            <label for="gender">Unit</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="topics" placeholder="Enter Topics" formControlName="topics">
            <label for="topics">Topics </label>
        </div>
    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" mat-dialog-close>Cancel</button>
        <button type="button" class="btn btn-primary" id="submit"
            (click)="edit_data? updateForm(): submitForm()">{{edit_data?'Update':'Submit'}}</button>
    </div>
</div>